{% extends "users/base.html" %}
{% block head_content %}
<title>Platzigram sing up</title>
{% endblock %}

{% block container %}
<!-- {% if error %}
<p class="alert alert-danger">{{ error }}</p>
{% endif %} -->
<form action="{% url 'users:singup' %}" method="POST">

    {% csrf_token %}
    <!-- <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" name="username" required>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" name="password" required>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Password confirmation" name="password_confirmation" required>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="First name" name="first_name" required>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Last name" name="last_name" required>
    </div>
    <div class="form-group">
        <input type="email" class="form-control" placeholder="Email address" name="email" required>
    </div> -->
    {{ form.as_p }}
    <button class="btn btn-primary btn-block mt-5">Registrarse</button>
</form>


{% endblock %}